
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="images/icon.jpg">
    <meta property="og:description" content="Rest Api For Developer">
    <title>Pricing - Cupz Rest Api</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icon.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="images/icon.jpg">
    <meta property="og:image" name="og:image" content="images/icon.jpg">
    <meta name="theme-color" content="#ffffff">
<link href="https://indrijunanda.github.io/RuangAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://indrijunanda.github.io/RuangAdmin/css/ruang-admin.min.css" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://leyscoders-api.herokuapp.com/bayar/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Metode Pembayaran</h2>
                <p>ღ Dana: 6287846676690 +1.500(Biaya Penanganan)<br>ღ Gopay: +1.500(Biaya Penanganan)<br>ღ Pulsa: 628812804856 +5K(Biaya Penanganan)</p>
                <a href="https://wa.me/6287846676690">Chat me</a>
            </div>
        </div>
    </div>
</body>
</html>
