<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple Uploader using express.js">
    <meta property="og:image" content="https://i.ibb.co/s2Vwq3h/profile.jpg">
    <link rel="icon" href="https://i.ibb.co/s2Vwq3h/profile.jpg">
    <link rel="shortcut icon" href="https://telegra.ph/file/b832af4227f7af93781cc.jpg">
    <title>RiczXD Api | Uploader</title>
</head>

<body>
    <h1>Single Upload</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label>Select File :</label><br>
            <input type="file" name="file" id="file">
        </div>

        <button style="margin-top: 1rem">Upload</button>
    </form>
</body>

</html>